html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

body > .container {
    padding: 60px 15px 0;
    margin-bottom: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

div.card.deviceCard {
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    line-height: 60px;
    margin-top: 50px;
}

#devicesContainer {
    padding: 20px 0;
}

#deviceCardTemplate {
    display: none;
    visibility: hidden;
}

.deviceCard .deviceLog {
    min-height: 80px;
    max-height: 300px;
    border: 1px solid #888;
    border-radius: 2px;
    font-family: consolas, monospace;
    padding: 3px 7px;
    word-break: break-all;
    overflow-y: scroll;
    font-size: 14px;
}

.deviceCard .deviceLog .thinsp {
    width: 2px;
    display: inline-block;
}

.deviceCard .deviceLog .in {
    color: darkgreen;
}

.deviceCard .deviceLog .out {
    color: darkblue;
}
